<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
 <p th:text="id+':  '+ ${user.getId()}">VALUE</p>
 <p th:text="name+':  '+ ${user.getName()}">VALUE</p>
 <p th:text="surname+':  '+ ${user.getSurname()}">VALUE</p>

<a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>